@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "valentine";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.014 343.198);
  --color-base-200: oklch(94% 0.028 342.258);
  --color-base-300: oklch(89% 0.061 343.231);
  --color-base-content: oklch(52% 0.223 3.958);
  --color-primary: oklch(65% 0.241 354.308);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(62% 0.265 303.9);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(82% 0.111 230.318);
  --color-accent-content: oklch(39% 0.09 240.876);
  --color-neutral: oklch(40% 0.153 2.432);
  --color-neutral-content: oklch(94% 0.028 342.258);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(44% 0.11 240.79);
  --color-success: oklch(84% 0.143 164.978);
  --color-success-content: oklch(43% 0.095 166.913);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "yaya";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(24% 0.023 329.708);
  --color-base-200: #1e151d;
  --color-base-300: oklch(52% 0.223 3.958);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(67% 0.182 276.935);
  --color-primary-content: oklch(25% 0.09 281.288);
  --color-secondary: oklch(54% 0.281 293.009);
  --color-secondary-content: oklch(28% 0.141 291.089);
  --color-accent: oklch(76% 0.177 163.223);
  --color-accent-content: oklch(26% 0.065 152.934);
  --color-neutral: oklch(52% 0.223 3.958);
  --color-neutral-content: oklch(94% 0.028 342.258);
  --color-info: oklch(80% 0.105 251.813);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(68.22% 0.206 24.43);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@custom-variant dark (&:where([data-theme=yaya], [data-theme=yaya] *));

.container {
  display: flex;
  margin: auto;
  padding: 2rem;
}
