header{
    background-color: #3C5BA9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 1rem;
    padding-inline: 5rem;

        img{
            width: 10rem;
            
        }   
   

    nav{
        display: flex;

        ul {
            list-style: none;
            display: flex;
            
            a{
                text-decoration: none;
            }
            li{
                font-size: 1.2rem;
                font-weight: 600;
                color: aliceblue;
                padding: 1rem;
            }
        }
    }


}

